<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="generator" content="github/kappa/perlanet" />

   <link rel="icon" href="/favicon.ico" type="image/x-icon" />
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

   <link rel="alternate" type="application/atom+xml" title="Все записи" href="[% cfg.feed.url | html %]" />
   <link rel="alternate" type="application/atom+xml" title="Модули русских авторов на CPAN" href="http://cpan.perlrussia.ru/Russian/rss.xml" />
   <link rel="outline" type="text/x-opml" title="OPML со всеми блогами" href="[% cfg.url | html %][% cfg.opml | html %]" />

   <link rel="stylesheet" href="http://perl.takahashi.su/planetperl.css" type="text/css" />

    <title>[% feed.title | html %]</title>
<!-- async google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-71084-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>
</head>
<body class="layout-two-column-left">
   <div id="container">
      <div id="container-inner" class="pkg">
<div style="position: absolute;">
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter10059763 = new Ya.Metrika({id:10059763, enableAll: true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/10059763" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "http://counter.yadro.ru/hit?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random();//--></script><!--/LiveInternet-->
    </div>
         <div id="banner">
            <div id="banner-inner" class="pkg">
               <h1 id="banner-header"><a href="/" accesskey="1">[% feed.title | html %]</a></h1>
               <h2 id="banner-description">[% feed.description | html %]</h2>
            </div>
         </div>

         <div id="pagebody">
            <div id="pagebody-inner" class="pkg">
               <div id="alpha">
                  <div id="alpha-inner" class="pkg">

                    [% ru_EB = ['января', 'февраля', 'марта',
                    'апреля', 'мая', 'июня', 'июля', 'августа',
                    'сентября', 'октября', 'ноября', 'декабря'] %]

                    [% FOREACH entry IN feed.entries %]
                    [% IF entry.issued %]
                        [% issued = entry.issued.set(locale => "ru_RU.UTF-8").set_time_zone("Europe/Moscow")
                           mon = issued.mon - 1
                        %]
                        [% IF !prev_issued || issued.ymd != prev_issued.ymd %]
                         <h2 class="date-header">[% issued.strftime("%A, %e-е") | ucfirst | html %] [% ru_EB.$mon | html %]</h2>
                        [% END %]
                        [% prev_issued = issued %]
                    [% END %]
                     <div class="entry">
                        <h3 class="entry-header"><a href="[% entry.link | html %]">[% entry.title | html %]</a></h3>
                        <div class="entry-content">
                           <div class="entry-body">
                           [% entry.content.body | html_para %]

                           [% IF entry.author OR entry.issued %]
                              <p class="entry-footer">
                                 [% IF entry.author %]<span class="post-footers">Написал [% entry.author | html %]</span>[% IF entry.issued %] <span class="separator">в</span>[% END %][% END %]
                                 [% IF entry.issued %]<span class="post-footers">[% issued.strftime("%R") | html %]</span>[% END %]
                              </p>
                           [% END %]

                           </div>
                        </div>
                     </div>
                    [% END %]
                  </div>
               </div>

               <div id="beta">
                  <div id="beta-inner" class="pkg">

                     <div class="module">
                        <h2 class="module-header">Мета</h2>
                        <div class="module-content">

<ul>
<li><i>Последнее обновление было [% feed.modified.set_time_zone("Europe/Moscow").strftime("%F в %R") | html %] по Москве</i></li>
<li><a href="https://spreadsheets.google.com/viewform?formkey=dC04aFdpaXJWeXdPSlVvU3llSnptcmc6MA">Добавить сайт</a></li>
</ul>
                        </div>
                     </div>

                     <div class="module">
                        <h2 class="module-header">Поиск</h2>
                        <div class="module-content">
<form action="http://www.google.com/cse" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="010683608514634093127:zulibncgjh8" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="17" />
    <input type="submit" name="sa" value="Поиск" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=ru"></script>
                        </div>
                     </div>

                     <div class="module">
                        <h2 class="module-header">Участники</h2>
                        <div class="module-content">
                        <ul>
                        [% FOREACH col IN cfg.feeds %]
                        <li class="module-list-loose"><a href="[% col.web | html %]">[% col.title %]</a></li>
                        [% END %]
                        </ul>
                        <p><a title="Скачать список участников в OPML" href="[% cfg.url | html %][% cfg.opml | html %]"><img src="http://perl.takahashi.su/opml-icon-16x16.png" border="0" width="16" height="16" alt="Список участников в формате OPML" /></a>&nbsp;<a title="Скачать список участников в OPML" href="[% cfg.url | html %][% cfg.opml | html %]">OPML</a></p>
                        <p><a href="https://spreadsheets.google.com/viewform?formkey=dC04aFdpaXJWeXdPSlVvU3llSnptcmc6MA">Добавить сайт</a></p>
                        </div>
                     </div>

                     <div class="module-syndicate module">
                        <h2 class="module-header">По-другому</h2>
                        <div class="module-content">
<ul>
<li class="module-list-loose"><a href="[% cfg.feed.url | html %]" title="Подписаться на RSS"><img src="http://perl.takahashi.su/feed-icon16x16.png" alt="" style="border:0" width="16" height="16" /></a>&nbsp;<a href="[% cfg.feed.url | html %]" title="Подписаться на RSS">RSS</a></li>
<li class="module-list-loose"><a href="http://friendfeed.com/planetperlru"><img src="http://perl.takahashi.su/frf-chiclet.png" alt="Подписаться на канал FriendFeed" title="Подписаться на канал FriendFeed" width="88" height="17" /></a></li>
<li class="module-list-loose"><a href="http://www.livejournal.com/friends/add.bml?user=planetperlru"><img src="http://perl.takahashi.su/btn_addfriend.png" width="22" height="20" alt="Добавить этого пользователя в вашу ленту друзей" title="Добавить этого пользователя в вашу ленту друзей" border="0" /></a>&nbsp;<a href="http://syndicated.livejournal.com/planetperlru/">LiveJournal</a></li>
<li><a href="http://lenta.yandex.ru/settings.xml?name=feed&amp;url=[% cfg.feed.url | url | html %]"><img src="http://perl.takahashi.su/yalenta.png" border="0" alt="Читать в Яндекс.Ленте" width="100" height="22" /></a></li>
<iframe src="//www.facebook.com/plugins/like.php?href=facebook.com%2Fplanetperl&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
<li class="module-list-loose"><a href="http://twitter.com/planetperlru"><img src="http://perl.takahashi.su/twitbut.png" alt="Twitter Button from twitbuttons.com" width="104" height="12" /></a></li>
<li class="module-list-loose"><a href="http://content.mail.ru/cgi-bin/subscribe.cgi?list_id=61365">Подписка по email</a></li>
</ul>
                        </div>
                     </div>

                     <div class="module">
                        <h2 class="module-header">Ссылки</h2>
                        <div class="module-content">
                        <ul>
                        <li class="module-list-loose"><a href="http://cpan.perlrussia.ru/Russian/">Русские авторы на CPAN</a>&nbsp;<a href="http://cpan.perlrussia.ru/Russian/rss.xml" title="RSS"><img src="http://perl.takahashi.su/feed-icon16x16.png" alt="" style="border:0" width="16" height="16" /></a></li>
                        <li class="module-list-loose"><a href="http://moscow.pm.org">Московские Перлмонгеры</a></li>
                        <li class="module-list-loose"><a href="http://perlrussia.ru">Русскоязычные Perl-мероприятия</a></li>
                        </ul>
                        </div>
                     </div>

                     <div class="module-powered module">
                        <h2 class="module-header">Powered by</h2>
                        <div class="module-content">
<a href="http://github.com/kappa/perlanet">[% cfg.agent | html %]</a><br />
<a href="http://github.com/kappa/planetperl.ru">open source</a><br />
<a href="http://kapranoff.ru">Алексей Капранов</a><br />
<a href="http://www.perl.org">Perl</a>
                        </div>
                     </div>

                     <div class="module">
                        <h2 class="module-header">Приборы</h2>
                        <div class="module-content">
<!-- begin of Top100 code -->
<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?1878380"></script><noscript><a href="http://top100.rambler.ru/navi/1878380/"><img src="http://counter.rambler.ru/top100.cnt?1878380" alt="Rambler's Top100" border="0" /></a></noscript>
<!-- end of Top100 code -->
<!--LiveInternet logo--><a href="http://www.liveinternet.ru/click"
target="_blank"><img src="http://counter.yadro.ru/logo?26.6"
title="LiveInternet: показано число посетителей за сегодня"
alt="" border="0" width="88" height="15"/></a>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
