<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="generator" content="github/kappa/perlanet" />

   <link rel="alternate" type="application/atom+xml" title="Atom со всеми записями" href="[% cfg.feed.url | html %]" />
   <link rel="outline" type="text/x-opml" title="OPML со всеми блогами" href="[% cfg.url | html %][% cfg.opml | html %]" />

   <link rel="stylesheet" href="styles-site.css" type="text/css" />

    <title>[% feed.title | html %]</title>
</head>
<body class="layout-two-column-left">
   <div id="container">
      <div id="container-inner" class="pkg">
<!--<div style="position: absolute;"> XXX top100-counter, google analytics</div> -->
         <div id="banner">
            <div id="banner-inner" class="pkg">
               <h1 id="banner-header"><a href="/" accesskey="1">[% feed.title | html %]</a></h1>
               <h2 id="banner-description">[% feed.description | html %]</h2>
            </div>
         </div>

         <div id="pagebody">
            <div id="pagebody-inner" class="pkg">
               <div id="alpha">
                  <div id="alpha-inner" class="pkg">

                    [% FOREACH entry IN feed.entries %]
                     <h2 class="date-header">[% entry.issued.ymd | html %]</h2>
                     <div class="entry">
                        <h3 class="entry-header"><a href="[% entry.link | html %]">[% entry.title | html %]</a></h3>
                        <div class="entry-content">
                           <div class="entry-body">
                           [% entry.content.body | html_para %]

                            [% IF entry.author OR entry.issued %]
                              <p class="entry-footer">
                                 [% IF entry.author %]<span class="post-footers">Написал [% entry.author | html %]</span>[% IF entry.issued %] <span class="separator">в</span>[% END %][% END %]
                                 [% IF entry.issued %]<span class="post-footers">[% entry.issued.set_time_zone("Europe/Moscow").strftime("%R") | html %]</span>[% END %]
                              </p>
                            [% END %]

                           </div>
                        </div>
                     </div>
                    [% END %]
                  </div>
               </div>

               <div id="beta">
                  <div id="beta-inner" class="pkg">

                     <div class="module">
                        <h2 class="module-header">Мета</h2>
                        <div class="module-content">

<ul>
<li><i>Последнее обновление было [% feed.modified.set_time_zone("Europe/Moscow").strftime("%F в %R") | html %] по Москве</i></li>
<li><a href="https://spreadsheets.google.com/viewform?formkey=dC04aFdpaXJWeXdPSlVvU3llSnptcmc6MA">Добавить сайт</a>
</ul>
                        </div>
                     </div>

                     <div class="module">
                        <h2 class="module-header">Поиск</h2>
                        <div class="module-content">
<form action="http://www.google.com/cse" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="010683608514634093127:zulibncgjh8" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="17" />
    <input type="submit" name="sa" value="Поиск" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=ru"></script>
                        </div>
                     </div>

                     <div class="module">
                        <h2 class="module-header">Участники</h2>
                        <div class="module-content">
                        <ul>
                        [% FOREACH col IN cfg.feeds %]
                        <li><a href="[% col.web | html %]">[% col.title
                        %]</a>
                        [% END %]
                        </ul>
                        <p><a title="Скачать список участников в OPML" href="[% cfg.url | html %][% cfg.opml | html %]"><img src="/opml-icon-16x16.png" border="0"></a>&nbsp;<a title="Скачать список участников в OPML" href="[% cfg.url | html %][% cfg.opml | html %]">OPML</a></p>
                        <p><a href="https://spreadsheets.google.com/viewform?formkey=dC04aFdpaXJWeXdPSlVvU3llSnptcmc6MA">Добавить сайт</a></p>
                        </div>
                     </div>

                     <div class="module-syndicate module">
                        <h2 class="module-header">По-другому</h2>
                        <div class="module-content">
<ul>
<li class="module-list-loose">
<a href="[% cfg.feed.url | html %]" title="Подписаться на RSS"><img src="/feed-icon16x16.png" alt="" style="border:0"/></a>&nbsp;<a href="[% cfg.feed.url | html %]" title="Подписаться на RSS">RSS</a>
<li class="module-list-loose"><a href="http://friendfeed.com/planetperlru"><img src="/frf-chiclet.png" alt="Подписаться на канал FriendFeed" title="Подписаться на канал FriendFeed"/></a>
<li class="module-list-loose"><a href="http://www.livejournal.com/friends/add.bml?user=planetperlru"><img src="/btn_addfriend.gif" width="22" height="20" alt="Добавить этого пользователя в вашу ленту друзей" title="Добавить этого пользователя в вашу ленту друзей" border="0" /></a>&nbsp;<a href="http://syndicated.livejournal.com/planetperlru/">LiveJournal</a>
<li><a href="http://lenta.yandex.ru/settings.xml?name=feed&url=[% cfg.feed.url | url | html %]"><img src="/yalenta" border="0" alt="Читать в Яндекс.Ленте" /></a>
<li class="module-list-loose"><a href="http://twitter.com/planetperlru"><img src="/twitbut.png" alt="Twitter Button from twitbuttons.com" /></a>
                        </div>
                     </div>

                     <div class="module-powered module">
                        <h2 class="module-header">Powered by</h2>
                        <div class="module-content">
<a href="http://github.com/kappa/perlanet">[% cfg.agent | html %]</a><br />
<a href="http://kapranoff.ru">Алексей Капранов</a>
                        </div>
                     </div>

                     <div class="module">
                        <h2 class="module-header">Приборы</h2>
                        <div class="module-content">
<!--begin of Top100 logo-->
<!--end of Top100 logo -->

<!--LiveInternet counter--><!--/LiveInternet-->
<!-- XXX google analytics -->
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
