html{margin:0;padding:0;}
body{margin:0;padding:0;}
form{margin:0;padding:0;}
a{text-decoration:underline;}
a img{border:0;}
.clr{clear:both;overflow:hidden;width:1px;height:1px;margin:0 -1px -1px 0;border:0;padding:0;font-size:0;line-height:0;}
.pkg:after{content:" ";display:block;visibility:hidden;clear:both;height:.1px;font-size:.1em;line-height:0;}
* html .pkg{display:inline-block;}
/* no ie mac \*/ * html .pkg{height:1%;}
.pkg{display:block;}
/* */ body{text-align:center;}
#container-inner{position:static;width:auto;}
#banner{position:relative;}
#banner-inner{position:static;}
#pagebody{position:relative;width:100%;}
#pagebody-inner{position:static;width:100%;}
#alpha,#beta,#gamma,#delta{display:inline;position:relative;float:left;min-height:1px;}
#alpha-inner,#beta-inner,#gamma-inner,#delta-inner{position:static;}
.content-nav{margin:10px;text-align:center;}
.date-header,.entry-content{position:static;clear:both;}
.entry,.trackbacks,.comments,.archive{position:static;overflow:hidden;clear:both;width:100%;margin-bottom:20px;}
.entry-content,.trackbacks-info,.trackback-content,.comment-content,.comments-open-content,.comments-closed{clear:both;margin:5px 10px;}
.entry-excerpt,.entry-body,.entry-more-link,.entry-more{clear:both;}
.entry-footer,.trackback-footer,.comment-footer,.comments-open-footer,.archive-content{clear:both;margin:5px 10px 20px 10px;}
.comments-open label{display:block;}
#comment-author,#comment-email,#comment-url,#comment-text{width:240px;}
#comment-bake-cookie{margin-left:0;vertical-align:middle;}
#comment-post{font-weight:bold;}
img.image-full{width:100%;}
.image-thumbnail{float:left;width:115px;margin:0 10px 10px 0;}
.image-thumbnail img{width:115px;height:115px;margin:0 0 2px 0;}
.module{position:relative;overflow:hidden;width:100%;}
.module-content{position:relative;margin:5px 10px 20px 10px;}
.module-list,.archive-list{margin:0;padding:0;list-style:none;}
.module-list-item{margin-top:5px;margin-bottom:5px;}
.module-powered .module-content{margin-bottom:10px;}
.module-calendar .module-content table{border-collapse:collapse;}
.module-calendar .module-content th,.module-calendar .module-content td{width:14%;text-align:center;}
a{text-decoration:underline;}
a,a:link,a:visited{color:#036;background-color:#fff;}
a:active,a:hover{color:#999;background-color:#fff;}
h1,h2,h3{padding:0;margin:.25em 0;}
.xmlbutton{color:#fff!important;background-color:#f60!important;border-color:#f60;border-style:outset;text-decoration:none!important;margin:2em 0 2em 0;padding:0 .5em 0 .5em;border-width:2px;font-size:xx-small;font-weight:bold;font-family:monospace;}
.xmlbutton:hover{color:#fff!important;background-color:#f90!important;}
.xmlbutton:active{border-style:inset!important;}
body{margin:0;color:#333;background:#fff;font-family:Georgia,Times,serif;font-weight:normal;font-size:small;line-height:120%;text-align:left;border-top:4px double #666;}
#container{position:static;margin:0;border:0;}
#container-inner{position:static;background:#fff;color:#333;}
#banner{color:#333;background:#fff;text-align:left;font-family:Georgia,Times,serif;}
#banner-inner{padding:15px;}
#banner a{font-size:xx-large;color:#333;text-decoration:none;background-color:#fff;}
#banner-header{font-family:palatino,georgia,verdana,arial,sans-serif;font-size:x-large;margin:.5em 0;}
#banner-description{font-family:palatino,georgia,"times new roman",serif;color:#333;font-size:small;text-transform:none;font-weight:normal;background-color:#fff;}
.date-header{font-family:palatino,georgia,"times new roman",serif;font-size:large;color:#333;background-color:#fff;border-bottom:1px solid #999;font-weight:bold;padding-bottom:2px;}
.trackbacks-header,.comments-header,.comments-open-header,.archive-header{margin:0 0 10px 0;border:0;color:#333;background-color:#fff;font-family:Georgia,Times,serif;font-size:medium;text-align:left;}
.entry-header{font-family:palatino,georgia,"times new roman",serif;font-size:medium;line-height:140% color:#666;background-color:#fff;}
.entry-content,.entry-footer,.trackbacks-info,.trackback-content,.comment-content,.comments-open-content,.comments-open-footer,.comments-closed,.archive-content{margin:10px 0;}
.entry-content p{text-align:left;}
.entry-footer,.trackback-footer,.comment-footer{margin:0 0 10px 0;border:0;color:#000;background-color:#fff;font-family:Verdana,Arial,sans-serif;font-size:x-small;line-height:normal;text-align:left;}
#comment-author,#comment-email,#comment-url,#comment-text{width:80%;}
img.image-full{width:100%;}
.module-header{color:#660;font-size:small;font-weight:normal;margin-top:20px;letter-spacing:.3em;background:#FFF;text-transform:uppercase;}
.module-content{margin:5px 0 20px 0;color:#333;background-color:#fff;font-family:Verdana,Arial,serif;font-size:x-small;line-height:150%;text-align:left;}
.module-content ul{margin:0;padding:0;list-style:none;}
.module-content ul li{margin:0;}
.module-list-loose{margin-bottom:.5em!important;}
.module-closed-links a{text-decoration:line-through;}
.module img{border:0;}
.module-photo img{border:1px solid #333;}
.module-photo{text-align:left;}
.module-powered{text-align:left;}
.module-calendar .module-header{color:#360;background-color:#fff;font-family:Georgia,Times,serif;font-size:small;border:0;text-align:left;text-transform:uppercase;letter-spacing:.3em;}
.module-calendar th,.module-calendar td{text-align:center;font-weight:normal;}
.layout-two-column-left #container{width:90%;}
.layout-two-column-left #alpha{width:100%;float:right;margin-left:-225px;}
.layout-two-column-left #alpha-inner{border:0;padding:15px 15px 15px 15px;background:#fff;color:#333;margin-left:225px;margin-bottom:20px;margin-right:20px;}
.layout-two-column-left #beta{float:left;width:200px;}
.layout-two-column-left #beta-inner{border:0;padding:15px 15px 15px 15px;background:#fff;color:#333;}